html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    overflow: hidden;
}

.fullpage {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #222;
    color: #fff;
}

#hero {
    background-image: url(../assets/img/wall-background.jpg);
	background-repeat: repeat;
}